* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 95%;
}

* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
}

h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 58px;
}

h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}

h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 91px;
}

p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.header {
  background: url(../img/header-bg.png) no-repeat center top;
  background-size: cover;
  height: 100vh;
}

.header-text {
  position: absolute;
  top: 30%;
  left: 3%;
  background: rgba(255, 255, 255, 0.7);
  padding: 35px 30px;
  border-radius: 25px;
}

.header__title {
  color: #000;
}

.header__title span {
  color: #cf1317;
}

.header__subtitle {
  margin-top: 15px;
  color: #000;
  width: 500px;
}

.nav {
  padding: 10px 50px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -webkit-box-shadow: 0 0 30px 20px rgba(59, 0, 0, 0.3);
          box-shadow: 0 0 30px 20px rgba(59, 0, 0, 0.3);
}

.nav li {
  margin-right: 60px;
  position: relative;
}

.nav li:last-child {
  margin-right: 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.nav__link:hover {
  color: #cf1317;
}

.nav__search {
  height: 50px;
  width: 183px;
  border: none;
  border-radius: 50px;
  padding: 0px 30px;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
}

.nav-search__btn {
  height: 30px;
  width: 30px;
  background: url(../img/search.png) no-repeat center;
  border: none;
  position: absolute;
  right: 30px;
  top: 10px;
  z-index: 3;
}

.nav__logo img {
  width: 70px;
  height: auto;
}

.scroll {
  position: absolute;
  height: 100px;
  width: 40px;
  border-right: 2px solid #cf1317;
  right: 10%;
  bottom: 0;
  color: #fff;
  padding-top: 30px;
  padding-right: 15px;
  font-weight: 700;
  text-shadow: 2px 3px 7px #000;
}

.projects {
  padding: 30px 40px;
  text-align: center;
}

.projects__title {
  margin-bottom: 20px;
  position: relative;
}

.projects__title::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #cf1317;
  position: absolute;
  bottom: 0;
}

.projects__subtitle {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.projects-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-project {
  position: relative;
  width: 30%;
  -webkit-box-shadow: 0 0 10px rgba(59, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(59, 0, 0, 0.5);
  padding: 30px 15px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-project:hover {
  -webkit-box-shadow: 0 0 10px rgba(59, 0, 0, 0.9);
          box-shadow: 0 0 10px rgba(59, 0, 0, 0.9);
}

.project__title {
  text-align: left;
  margin-left: 15px;
  margin-bottom: 30px;
}

.project__list {
  border-right: 2px solid #cf1317;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
}

.project__list li {
  margin-bottom: 7px;
  font-weight: 500;
}

.project__list li:hover {
  color: #cf1317;
}

.project__icon {
  position: absolute;
  bottom: 45px;
  left: 45px;
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=style.css.map */